.hideOverflowX {
    overflow-x: hidden;
}

.themeColors {
    color: #fff;
    background-color: #212121;
}

.themeColorsLighter {
    color: #fff;
    background-color: #424242;
}

.themeColorsSuperLight {
    color: #fff;
    background-color: #616161;
}

.themeColorsDarker {
    color: #fff;
    background-color: #101010;
}

.themeColorsReverse {
    color: #212121;
    background-color: #fff;
}

.themeColorsLightOutline {
    color: #fff;
    border: 1px solid #fff;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #777;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
